<h2 class="text-center text-success"> Welcome To Home Page</h2>


<div class="container py-5">
    <div class="row text-center">
      <div class="col-sm-6">
        <h3 class="text-dark"><b>Admin Menu</b></h3>
        <ul>
          <li><a routerLink="list" class="text-dark">List</a></li>
          <li><a routerLink="login" class="text-dark">Login</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3><b>User Menu</b></h3>
        <ul>
          <li><a routerLink="list" class="text-dark">List</a></li>
          <li><a routerLink="login" class="text-dark">Login</a></li>
        </ul>
      </div>
    </div>
  </div>